*.[oa]
*~
build-MyMatrix-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
client/build
Server/build
*.swp
Server/.clion.source.upload.marker
Server/cmake-build-debug-
build-MyMatrix-Desktop_Qt_5_13_0_MinGW_64_bit-Release/